langchain
openai
tiktoken
transformers
torch
sentence-transformers
chromadb
uuid
langchain-openai
langchain-core
langchain-community
langchain-text-splitters
streamlit
python-dotenv
chromadb
pymupdf
pandas

